<header>
    <div class="logo">
        <a href="/">
            <img src="/images/logo.svg" alt="Masking Technology" />
        </a>
    </div>
    <div class="socials">
        <a href="https://bsky.app/profile/masking.tech" target="_blank" aria-label="Visit our Bluesky page">
            <img src="/images/bluesky.png" alt="Bluesky" />
        </a>
        <a href="https://www.linkedin.com/company/maskingtechnology" target="_blank" aria-label="Visit our LinkedIn page">
            <img src="/images/linkedin.png" alt="LinkedIn" />
        </a>
    </div>
</header>