
#activities
{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

#activities article
{
    background-color: var(--swatch-color-gray-4);
    border-radius: 1.2em;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 25px;
    width: 250px;
}

#activities article .subject
{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

#activities article .subject img
{
    height: 3.8em;
}

#activities article .subject h1
{
    font-size: 1.4em;
    font-weight: var(--font-weight-medium);
}

#activities article p
{
    font-size: 1.1em;
    font-weight: var(--font-weight-light);
    margin: 2em 0;
}

#activities article a
{
    border-radius: 2em;
    color: var(--swatch-color-white);
    display: inline-block;
    padding: 0.8em 1.5em;
    text-decoration: none;
    transition: var(--transition-hover-animation);
}

#activities article a:hover
{
    filter: brightness(130%);
}

#activities article.github a
{
    background-color: var(--swatch-color-brown);
}

#activities article.medium a
{
    background-color: var(--swatch-color-blue);
}

#activities article.sessionize a
{
    background-color: var(--swatch-color-green);
}

@media (min-width: 1020px)
{
    #activities article
    {
        border-radius: 1.2em;
        padding: 25px;
        width: 250px;
    }
}

@media (max-width: 1020px)
{
    #activities article
    {
        border-radius: 1.2em;
        padding: 25px;
        width: 40%;
    }
}

@media (max-width: 795px)
{
    #activities article
    {
        border-radius: 1.2em;
        padding: 25px;
        width: 80%;
    }
}
