
#information
{
    display: flex;
    flex-direction: row;
}

#information h1
{
    color: var(--swatch-color-orange);
    font-size: 1.5em;

}

#information .about
{
    flex-grow: 1;
    flex-shrink: 1;
}

#information .about p
{
    margin-top: 1.5em;
}

#information hr
{
    border: 4px solid var(--swatch-color-gray-4);
    border-radius: 1em;
    flex-grow: 0;
    flex-shrink: 0;
}

#information .contact
{
    flex-grow: 1;
    flex-shrink: 1;
}

#information p
{
    font-size: 1.1em;
}

#information .options
{
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.1em;
    margin: 2.5em 1em;
}

#information .options .option
{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

#information .options .option img
{
    height: 1.8em;
}

#information .options .option a
{
    border-bottom: 1px solid transparent;
    color: var(--swatch-color-white);
    display: inline-block;
    padding-top: 0.3em;
    text-decoration: none;
    transition: var(--transition-hover-animation);
}

#information .options .option a:hover
{
    border-bottom: 1px solid var(--swatch-color-orange);
}

@media (min-width: 930px)
{
    #information
    {
        gap: 3em;
    }

    #information .contact
    {
        width: 50%;
    }

    #information .about
    {
        width: 50%;
    }
}

@media (max-width: 930px)
{
    #information
    {
        flex-direction: column;
        gap: 2em;
        margin: 0 5%;
    }

    #information .contact
    {
        width: auto;
    }

    #information hr
    {
        width: 100%;
        margin: 2em 0;
    }

    #information .about
    {
        width: auto;
    }
}

@media (max-width: 795px)
{
    #information
    {
        flex-direction: column;
        margin: 0 5%;
    }
}