
.tiles
{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.tiles article
{
    background-color: var(--swatch-color-gray-4);
    border-radius: 1.2em;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 25px;
}

.tiles.small article
{
    width: 250px;
}

.tiles.large article
{
    width: 410px;
}

.tiles article .subject
{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.tiles article .subject img
{
    height: 3.8em;
}

.tiles article .subject h1
{
    font-size: 1.4em;
    font-weight: var(--font-weight-medium);
}

.tiles article p
{
    font-size: 1.1em;
    font-weight: var(--font-weight-light);
    margin: 2em 0;
}

.tiles article a:hover
{
    filter: brightness(130%);
}

@media (min-width: 1020px)
{
    .tiles article
    {
        border-radius: 1.2em;
        padding: 25px;
        width: 250px;
    }
}

@media (max-width: 1020px)
{
    .tiles article,
    .tiles article.talk
    {
        border-radius: 1.2em;
        padding: 25px;
        width: 40%;
    }
}

@media (max-width: 795px)
{
    .tiles article,
    .tiles article.talk
    {
        border-radius: 1.2em;
        padding: 25px;
        width: 80%;
    }
}
