
main
{
    display: flex;
    flex-direction: column;
}

h1, h2, h3, p
{
    margin: 0;
    padding: 0;
}

.highlight
{
    color: var(--swatch-color-orange);
}

@media (min-width: 795px)
{
    main
    {
        gap: 8em;
    }
}

@media (max-width: 795px)
{
    main
    {
        gap: 4em;
    }
}