<!DOCTYPE html>

<html lang="en">

<head>
        
    {% include "meta.html" %}

    <title>Masking Technology - Future-proofing software applications</title>

</head>

    <body>

        <div class="container">

            {% include "header.html" %}

            <main>

                <section id="introduction">
                    <h1>We love to write <span class="highlight">articles</span> about the things we do.</h1>
                    <h2>Each article is written with passion and expertise and publicly published.</h2>
                </section>

                <section class="tiles large">

                    <article class="article">
                        <div class="subject">
                            <img src="/images/medium.svg" alt="Medium" />
                            <h1>Strategy Matters: Embracing Versatile Development in Software Projects</h1>
                        </div>
                        <p>A pragmatic guide to software development strategies.</p>
                        <a href="https://medium.com/itnext/strategy-matters-embracing-versatile-development-in-software-projects-322be6ed5c27" class="button" target="_blank" aria-label="Read the article 'Strategy Matters: Embracing Versatile Development in Software Projects'">Read article</a>
                    </article>

                    <article class="article">
                        <div class="subject">
                            <img src="/images/medium.svg" alt="Medium" />
                            <h1>From Monoliths To Microservices — And Beyond</h1>
                        </div>
                        <p>Now that the hype around microservices is ending, what lessons have we learned? And what’s next?</p>
                        <a href="https://medium.com/better-programming/from-monoliths-to-microservices-and-beyond-5f1e639d5b4f" class="button" target="_blank" aria-label="Read the article 'From Monoliths To Microservices — And Beyond'">Read article</a>
                    </article>

                    <article class="article">
                        <div class="subject">
                            <img src="/images/medium.svg" alt="Medium" />
                            <h1>An Introduction to Medium-Code</h1>
                        </div>
                        <p>Closing the gap between business and IT by bringing high-code and low-code together.</p>
                        <a href="https://medium.com/maskingtech/an-introduction-to-medium-code-12a9e68947cd" class="button" target="_blank" aria-label="Read the article 'An Introduction to Medium-Code'">Read article</a>
                    </article>

                    <article class="article">
                        <div class="subject">
                            <img src="/images/medium.svg" alt="Medium" />
                            <h1>How I Split a Monolith Into Microservices Without Refactoring</h1>
                        </div>
                        <p>Our journey to becoming more agile with a just-in-time architectural style.</p>
                        <a href="https://medium.com/better-programming/how-i-split-a-monolith-into-microservices-without-refactoring-5d76924c34c2" class="button" target="_blank" aria-label="Read the article 'How I Split a Monolith Into Microservices Without Refactoring'">Read article</a>
                    </article>

                    <article class="article">
                        <div class="subject">
                            <img src="/images/medium.svg" alt="Medium" />
                            <h1>How I Speed Up Full-Stack Development by Not Building APIs</h1>
                        </div>
                        <p>Our journey to becoming more productive by automating all client-server communication.</p>
                        <a href="https://medium.com/better-programming/how-i-speed-up-full-stack-development-by-not-building-apis-7f768335bec6" class="button" target="_blank" aria-label="Read the article 'How I Speed Up Full-Stack Development by Not Building APIs'">Read article</a>
                    </article>
                    
            </section>

            </main>

            {% include "footer.html" %}

        </div>

    </body>

</html>