<!DOCTYPE html>

<html lang="en">

    <head>

        {% include "meta.html" %}

        <title>Masking Technology - Future-proofing software applications</title>

    </head>
    
    <body>

        <div class="container">

            {% include "header.html" %}

            <main>

                <section id="introduction">
                    <h1>We make your software development <span class="highlight">cost-efficient</span>.</h1>
                    <h2>By future-proofing the development life cycle and technology.</h2>
                </section>

                <section id="activities" class="tiles small">

                    <article>
                        <div class="subject">
                            <img src="/images/medium.svg" alt="Medium" />
                            <h1>Published Articles</h1>
                        </div>
                        <p>We write about all the things we do.</p>
                        <a href="/articles" class="button article" aria-label="View our articles">View articles</a>
                    </article>

                    <article>
                        <div class="subject">
                            <img src="/images/sessionize.svg" alt="Sessionize" />
                            <h1>Conference Talks</h1>
                        </div>
                        <p>We speak on our subject of expertise.</p>
                        <a href="/talks" class="button talk" aria-label="View our talks">View talks</a>
                    </article>
                    
                    <article>
                        <div class="subject">
                            <img src="/images/github.svg" alt="GitHub" />
                            <h1>Open Source Projects</h1>
                        </div>
                        <p>We publish open source tools and libraries.</p>
                        <a href="/projects" class="button project" aria-label="View our projects">View projects</a>
                    </article>

                </section>

                <section id="information">
                
                    <div class="about">
                        <h1>How can we help?</h1>
                        <p>We excel in transforming your software development life cycle to achieve optimal efficiency and cost savings.</p>
                        <p>Over the past years, we have gained deep industry knowledge and developed innovative methodologies, forming a strong foundation for our services.</p>
                        <p>Our experts are ready to collaborate closely to analyze, refine, and enhance each phase of your development cycle.</p>
                        <p><a href="/services" class="button service" aria-label="View our services">View services</a></p>
                    </div>

                    <hr>

                    <div class="contact">
                        <h1>Contact information</h1>
                        <p>
                            Don't be a stranger, and contact us for any inquiries or questions. We are here to help you.
                        </p>
                        <div class="options">
                            <div class="option location">
                                <img src="images/location.svg" alt="Location" />
                                <a href="https://goo.gl/maps/9Hyump3cS3GKELXX6" target="_blank">
                                    De hooge krocht 25<br>
                                    2201 TP Noordwijk<br>
                                    The Netherlands
                                </a>
                            </div>
                            <div class="option phone">
                                <img src="images/phone.svg" alt="Phone" />
                                <a href="31-0-85-07-03-71-8" class="docall">31-0-85-07-03-71-8</a>
                            </div>
                            <div class="option email">
                                <img src="images/email.svg" alt="Email" />
                                <a href="info-monkeywithtail-masking.tech" class="domail">info-monkeywithtail-masking.tech</a>
                            </div>
                        </div>
                        <p>
                            We are available from Monday - Friday<br>
                            08.30 am - 05.30 pm
                        </p>
                    </div>

                </section>

            </main>

            {% include "footer.html" %}

        </div>

    </body>

</html>