<!DOCTYPE html>

<html lang="en">

<head>
        
    {% include "meta.html" %}

    <title>Masking Technology - Future-proofing software applications</title>

</head>

    <body>

        <div class="container">

            {% include "header.html" %}

            <main>

                <section id="introduction">
                    <h1>We proudly <span class="highlight">speak</span> about our knowledge and thoughts.</h1>
                    <h2>All of our slides are shared to give you a glimpse into the topics and key points discussed during our talks.</h2>
                </section>

                <section class="tiles large">

                    <article class="talk">
                        <div class="subject">
                            <img src="/images/sessionize.svg" alt="Sessionize" />
                            <h1>How To Build Future-Proofed Applications</h1>
                        </div>
                        <p>Dive into five rules of thumb that enable effective change implementation across the entire software development lifecycle, ultimately enhancing application development cost-efficiency.</p>
                        <a href="downloads/How_To_Build_Future_Proofed_Applications.pdf" class="button talk" target="_blank" aria-label="Download the presentation 'How To Build Future-Proofed Applications'">Download slides</a>
                    </article>

                    <article class="talk">
                        <div class="subject">
                            <img src="/images/sessionize.svg" alt="Sessionize" />
                            <h1>From Monolith To Microservices And Beyond</h1>
                        </div>
                        <p>Explore the resurgence of monolithic architecture, now equipped with modern building practices, offering scalable applications with the simplicity of a monolith and the resilience of microservices.</p>
                        <a href="downloads/From_Monolith_To_Microservices_And_Beyond.pdf" class="button talk" target="_blank" aria-label="Download the presentation 'From Monolith To Microservices And Beyond'">Download slides</a>
                    </article>

                    <article class="talk">
                        <div class="subject">
                            <img src="/images/sessionize.svg" alt="Sessionize" />
                            <h1>From Waterfall To Agile And Beyond</h1>
                        </div>
                        <p>Explore the evolution of software development methodologies from Waterfall to Agile, and seek to determine the most effective strategies for managing software development projects, emphasizing cost-efficiency to help tailor practical solutions.</p>
                        <a href="downloads/From_Monolith_To_Microservices_And_Beyond.pdf" class="button talk" target="_blank" aria-label="Download the presentation 'From Waterfall To Agile And Beyond'">Download slides</a>
                    </article>

                    <article class="talk">
                        <div class="subject">
                            <img src="/images/sessionize.svg" alt="Sessionize" />
                            <h1>Stop Building APIs</h1>
                        </div>
                        <p>Investigate strategies to automate and enhance the communication between frontend and backend systems, focusing on achieving end-to-end type-safety for APIs. Topics covered will include mediators, meta-frameworks, and runtime solutions.</p>
                        <a href="downloads/Stop_Building_APIs.pdf" class="button talk" target="_blank" aria-label="Download the presentation 'Stop Building APIs'">Download slides</a>
                    </article>

                    <p>
                        <strong>Please note</strong> that the slides are meant to complement our presentations and may not fully convey the complete message on their own.
                        For the full experience and deeper understanding, attending the live talks is recommended.
                    </p>
                    
            </section>

            </main>

            {% include "footer.html" %}

        </div>

    </body>

</html>