<!DOCTYPE html>

<html lang="en">

<head>
        
    {% include "meta.html" %}

    <title>Masking Technology - Training</title>

</head>

    <body>

        <div class="container">

            {% include "header.html" %}

            <main>

                <section id="introduction">
                    <h1>We enjoy <span class="highlight">training</span> people to grow in their profession.</h1>
                    <h2>All training options are available both online and offline and can be tailored to meet your needs.</h2>
                </section>

                <section class="tiles large">

                    <article class="project">
                        <div class="subject">
                            <img src="/images/training.svg" alt="Services" />
                            <h1>Future-Proofing Applications</h1>
                        </div>
                        <p>Continuous change is one of the biggest challenges in software development. In this training, we’ll explore the software development life cycle and discuss strategies to minimize the impact of change.</p>
                        <p>This hands-on training focuses on improving existing processes and is therefore suitable only for development teams.</p>
                        <a href="info-monkeywithtail-masking.tech" class="button service domail" target="_blank" aria-label="Visit our Comify page">Contact us</a>
                    </article>

                    <article class="project">
                        <div class="subject">
                            <img src="/images/training.svg" alt="Services" />
                            <h1>Secure Web Development Practices</h1>
                        </div>
                        <p>Security is a crucial aspect of the development process, yet it is often overlooked. In this training, we’ll explore which security measures to integrate into daily workflows and how to automate them.</p>
                        <p>This training is interactive, technology-agnostic, and suitable for web developers at any level.</p>
                        <a href="info-monkeywithtail-masking.tech" class="button service domail" target="_blank" aria-label="Visit our Comify page">Contact us</a>
                    </article>

                    <article class="project">
                        <div class="subject">
                            <img src="/images/training.svg" alt="Services" />
                            <h1>Mastering Modular Monoliths</h1>
                        </div>
                        <p>The modular monolithic architecture is a cost-effective blend of monolithic and microservices architectures. In this training, we’ll cover everything from the basics to developing with multiple teams.</p>
                        <p>This training is interactive, technology-agnostic, and suitable for developers and architects regardless of their experience with microservices.</p>
                        <a href="info-monkeywithtail-masking.tech" class="button service domail" target="_blank" aria-label="Visit our Jitar page">Contact us</a>
                    </article>

                    <article class="project">
                        <div class="subject">
                            <img src="/images/training.svg" alt="Services" />
                            <h1>Implementing Microservices Effectively</h1>
                        </div>
                        <p>Implementing the microservice architecture correctly can be very challenging and may result in significant costs if done incorrectly. In this training, we’ll tackle this challenge from design to deployment.</p>
                        <p>This training is interactive, technology-agnostic, and suitable for developers and architects regardless of their experience with microservices.</p>
                        <a href="info-monkeywithtail-masking.tech" class="button service domail" target="_blank" aria-label="Visit our Comify page">Contact us</a>
                    </article>

            </section>

            </main>

            {% include "footer.html" %}

        </div>

    </body>

</html>